:root {
  --main-color: #2a2929;
  --card-color: #5f545f;
  --sub-color: #3d223d;
  --accent: #987fbb;
  --text-color: #eaeaea;
  --con-color: #77b599;
  --pop-color: #e5bde9;
  --dub-color: #d0afe6;

  --priFont: "Bebas Neue", cursive;
  --secFont: "Kanit", sans-serif;
}

/* Set basic background */
body {
  background-image: url("../img/Nodes.svg");
  color: var(--text-color);
  font-family: "Bebas Neue", cursive;
}
/* Utility classes */
.space-section {
  padding-block: 3%;
  padding-inline: 5%;
}

.content-card-style {
  margin-block: 8%;
  color: var(--con-color);
  margin-inline: auto;
  font-family: var(--secFont);
  font-size: 1.3em;
  width: 90%;
  padding: 5%;
  border-radius: 3rem;
}

/* link color */
a {
  font-family: "Kanit", sans-serif;
  color: var(--con-color);
  text-decoration: none;
}
section h2 {
  position: relative;
  text-align: center;
  font-family: "kanit", sans-serif;
  font-size: 2rem;
  color: var(--con-color);
  width: 55%;
  margin-inline: auto;
  border-radius: 2.9rem;
}

/* HERO IMAGE */
.hero {
  /* background-image: url(../img/Nodes.svg); */
  background-color: transparent;
  background-position: center;
  background-repeat: repeat;

  object-fit: fill;
  width: 100%;
  height: 100vh;
  padding-top: -5%;
  position: relative;
  top: 0rem;
  border-top: 0.1rem dashed var(--dub-color);
  border-bottom: 0.1rem dashed var(--con-color);
}

.name {
  color: var(--con-color);
  font-weight: 700;
  filter: drop-shadow(0rem 0.3rem 0.3rem var(--con-color));

  width: fit-content;
}
.hello-box {
  position: absolute;
  top: 30%;
  left: 0%;
  right: 0%;
  margin-left: auto;
  margin-right: auto;
  width: 20rem;
  text-align: center;
  font-size: 2em;
  background-color: transparent;
  text-align: center;
  flex-direction: row;
  overflow-wrap: break-word;
}
.hello-box p {
  font-weight: 800;
  height: 100%;
  line-height: 1.4em;
  letter-spacing: 0.8rem;
  margin-inline: auto;
  text-align: center;
  flex-wrap: wrap;

  /* animation: typing 2s steps(28); */
}
.intro {
  font-weight: 800;
  height: 100%;
  line-height: 1.4em;
  letter-spacing: 0.8rem;
  margin-inline: auto;
  text-align: center;
  flex-wrap: wrap;
}

.carrot {
  color: var(--con-color);
  /* animation: blinker 1s linear infinite; */
  filter: drop-shadow(0rem 0.3rem 0.3rem var(--con-color));
}

@keyframes blinker {
  0% {
    color: var(--con-color);
  }
  100% {
    color: transparent;
  }
}

@keyframes typing {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

/* HEADER */
header {
  padding-top: 3%;
}
header::before {
  content: "";
  top: 0%;
  width: 100%;
  height: 10%;
  filter: blur(3rem);
  position: absolute;
  z-index: 0;
  background: var(--text-color);
  opacity: 40%;
  padding-inline: auto;
  justify-content: center;
}
header h1 {
  text-align: center;
  font-size: 2rem;
  color: var(--con-color);
}
header menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  position: absolute;
  z-index: 2;
  right: calc(10% / 4);
}
header menu ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}
header menu ul li {
  text-align: center;
  padding: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* MAIN */
main {
  width: 100%;
  justify-content: center;
  margin-inline: auto;
  padding-inline: auto;
}

/* Project Section is uncer.all-projets */
/* the box containing all cards*/
.project-box {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2%;
  width: fit-content;
}

.cards-box {
  margin: 2%;
  width: fit-content;
}
.left-right-box-p {
  margin: 3%;
  line-height: 1.9rem;
}

.repo-icon {
  width: 50px;
  color: var(--con-color);
}
.site-icon {
  width: 10rem;
  height: auto;
  object-fit: contain;
  width: 100px;
  margin-inline: auto;
  margin-bottom: 10%;
  font-size: 6rem;
}
#wine-icon {
  width: 100px;
  margin-inline: auto;
  font-size: 6rem;
}
/* all cards within box */
.my-card {
  border-radius: 15rem;
  width: 24rem;
  height: 35rem;
  justify-content: center;
  align-items: center;
  margin-block: 1%;
  box-shadow: 0px 0px 10px var(--dub-color);
  color: var(--main-color);
  background: linear-gradient(145deg, #3d3c3c, #2e2d2d);
  box-shadow: 31px 31px 70px #1f1e1e, -31px -31px 70px #353434;
  backdrop-filter: blur(10rem);
}

.my-card hr {
  background-color: var(--accent);
}

.card-text {
  line-height: 1.4rem;
  color: var(--text-color);
}
.my-card:hover {
  box-shadow: 0px 0px 18px var(--text-color);
}
.my-card .card-title {
  color: var(--pop-color);
  font-weight: 800;
  font-size: 1.7rem;
}
.btn {
  background-color: var(--dub-color);
  color: var(--main-color);
  border: var(--con-color);
  justify-self: center;
  height: fit-content;
  width: fit-content;
}

.all-projects h2 {
  color: #7c7c7c;
  /* box-shadow: 3px 3px 10px var(--text-color); */
  margin-bottom: 2%;
}

/* About Section under .about */
.about {
  border-top: 0.1rem dashed var(--pop-color);
  background-color: var(--main-color);
  text-align: center;
  line-height: 1.2;
  border-bottom: 0.1rem dashed var(--pop-color);
}
.about p {
  color: rgb(226, 239, 232);
  font-size: 1.1rem;
}
.about h2 {
  color: var(--con-color);
}
.about img {
  width: 100%;

  overflow: visible;
  border-radius: 85%;
  margin: 3%;
  box-shadow: 0rem 0rem 2.2rem var(--text-color),
    0rem 0rem 0rem 0.3rem var(--con-color),
    0rem 0rem 0rem 0.6rem var(--pop-color), 0rem 0rem 0rem 0.9rem var(--accent);
}
.about-img-figure {
  width: 22%;
  height: 22%;
}
.about-box {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: center;
  align-items: center;
}
.about ul li {
  list-style-type: decimal;
}
/* puts the card to right or left respectively */

/* Contact section under .contact */
.contact {
  /* background-image: url("../img/Nodes.svg"); */
  border-top: 0.1rem dashed var(--sub-color);
}
.contact h2 {
  color: var(--accent);

  /* box-shadow: 3px 3px 10px var(--accent); */
}

.contact p {
  align-items: center;
  color: var(--card-color);
  font-size: 1.3rem;
}
.card-body {
  text-align: center;
  padding: 0;
  color: var(--text-color);
}
.contact-me {
  border-radius: 3rem;
  margin-top: 10%;
  margin-bottom: 5%;
  box-shadow: 4px 5px 15px #424f49d8, -3px -1px 12px #e4d9f4aa;
  background: transparent;
}
.contact a {
  color: var(--con-color);
}

.contact h5 {
  font-size: 2rem;
  color: #77b599;
}
/* FOOTER */
/* keep at bottom */
footer {
  border-top: 0.1rem dashed var(--con-color);
  display: flex;

  position: relative;
  padding-block: 2%;

  color: var(--pop-color);
  justify-content: center;
  filter: drop-shadow(0rem 0.3rem 0.3rem var(--pop-color));
  background-color: #2a2929;
}
.hide-card {
  opacity: 0;
}

.show-card-right {
  display: flex;
  animation: fadeInRight 1s ease-in;
}
.show-card-left {
  display: flex;
  animation: fadeInLeft 1s ease-in;
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    transform: translateY(40px);
  }
  100% {
    opacity: 1;
  }
}

/* screens above */
@media (min-width: 768px) {
  .about-box {
    flex-direction: row;
  }

  .left-box {
    flex-direction: row;
  }
  .right-box {
    flex-direction: row;
  }
  .hello-box p {
    font-size: 180%;
  }
}
