:root {
  --main-color: #2a2929;
  --card-color: #5f545f;
  --sub-color: #3d223d;
  --accent: #7e3f7e;
  --text-color: #eaeaea;
  --con-color: #77b599;
  --pop-color: #f9a8f9;
}

/* Set basic background */
body {
  background-color: var(--text-color);
  color: var(--text-color);

  font-family: "Bebas Neue", cursive;
}
/* Utility classes */
.space-section {
  padding-block: 2%;
}
/* link color */
a {
  font-family: "Kanit", sans-serif;
  color: var(--con-color);
  text-decoration: none;
}
section h2 {
  position: relative;
  text-align: center;
  font-family: "kanit", sans-serif;
  font-size: 1.6rem;
  color: var(--con-color);
}

/* HERO IMAGE */
.hero {
  background-image: url(../img/Nodes.svg);
  background-position: center;
  background-repeat: repeat;

  object-fit: fill;
  width: 100%;
  height: 75vh;
  padding-top: -5%;
  position: relative;
  top: 0rem;
  border-top: 0.1rem dashed var(--con-color);
  border-bottom: 0.1rem dashed var(--con-color);
}
.hero-text {
  position: relative;
  top: 5%;
  left: 5%;
  font-size: 1.7rem;
  padding-bottom: 3%;
}
.name {
  color: var(--con-color);
  filter: drop-shadow(0rem 0.3rem 0.3rem var(--con-color));
}
.hello-box {
  position: absolute;
  top: 30%;
  left: 0%;
  right: 0%;
  margin-left: auto;
  margin-right: auto;
  width: 8em;
  text-align: center;
  font-size: 1.5em;
  background-color: transparent;
}
.hello-box p {
  padding-left: 6%;
  padding-right: 6%;
  width: fit-content;
  line-height: 1.4em;
}
.intro {
  font-size: 180%;
  margin-bottom: 1%;
  margin: 0 auto;
  overflow: hidden;
  border-right: 0.15rem soild var(--con-color);

  letter-spacing: 0.15rem;
}
.carrot {
  color: var(--con-color);
  animation: blinker 1s linear infinite;
  filter: drop-shadow(0rem 0.3rem 0.3rem var(--con-color));
}

@keyframes blinker {
  0% {
    color: var(--con-color);
  }
  100% {
    color: transparent;
  }
}

/* HEADER */
header {
  padding-top: 3%;
}
header::before {
  content: "";
  top: 5%;
  width: 100%;
  height: 10%;
  filter: blur(3rem);
  position: absolute;
  z-index: 0;
  background: var(--text-color);
  opacity: 40%;
  padding-inline: auto;
  justify-content: center;
}
header h1 {
  text-align: center;
  font-size: 2rem;
  color: var(--con-color);
}
header menu {
  flex-wrap: nowrap;
  display: flex;
  flex-direction: row;
  justify-content: end;
  position: absolute;
  z-index: 2;
  right: calc(10% / 4);
}
header menu ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
}
header menu ul li {
  text-align: center;
  padding: 0.5rem;
}

/* MAIN */
main {
  width: 100%;
  justify-content: center;
  margin-inline: auto;
}

/* Project Section is uncer.all-projets */
.all-projects {
  background-color: var(--card-color);
}
/* all cards within box */
.my-card {
  border-bottom-left-radius: 5%;
  border-bottom-right-radius: 5%;
  height: fit-content;
  border: 0.2rem solid var(--con-color);
  background-color: transparent;
  padding: 1%;
  display: flex;
  justify-content: center;
}
.my-card a {
  background-color: #77b599;
  border: #77b599;
  justify-self: center;
}
.all-projects h2 {
  background-color: var(--card-color);
  border-bottom: 0.3rem solid var(--card-color);
}
/* the box containing all cards*/
.project-box {
  border-top: 0.3rem solid var(--card-color);
  background-color: var(--card-color);
  padding-top: 0.5rem;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1%;
}

/* About Section under .about */
.about {
  border-top: 0.1rem dashed var(--con-color);
  background-color: #2a2929;
  text-align: center;
  line-height: 2;
}
.about img {
  width: 22%;
  height: 22%;
  overflow: visible;
  border-radius: 85%;
  margin: 3%;

  box-shadow: 0rem 0rem 2.2rem var(--text-color),
    0rem 0rem 0rem 0.3rem var(--con-color),
    0rem 0rem 0rem 0.6rem var(--pop-color), 0rem 0rem 0rem 0.9rem var(--accent);
}
.about-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.about ul li {
  list-style-type: decimal;
}

/* Contact section under .contact */
.contact {
  background-color: #77b599;
}
.contact h2 {
  color: var(--text-color);
}
.contact p {
  align-items: center;
}

/* FOOTER */
/* keep at bottom */
footer {
  border-top: 0.1rem dashed var(--con-color);
  display: flex;
  margin-top: 1%;
  position: relative;
  padding-top: 1%;
  bottom: 1rem;
  color: var(--pop-color);
  justify-content: center;
  filter: drop-shadow(0rem 0.3rem 0.3rem var(--pop-color));
}

@media (min-width: 768px) {
  .about-box {
    flex-direction: row;
  }
}
